@font-face {
    font-family: CanalBoldRomain;
    src: url("../fonts/CanalBoldRomain.otf") format("opentype");
}
@font-face {
    font-family: CanalLightRomain;
    src: url("../fonts/CanalLightRomain.otf") format("opentype");
}

html,body {
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

/** BOOTSTRAP OVER **/
.btn-primary{
	background-color:#00bdff;
	border-color:#00bdff;
	font-size:20px;
}
h1{
	color:#ffffff;
	font-size:3em;
	font-family:"CanalBoldRomain", sans-serif;
	font-weight:bold;
    line-height: 52px;
}
.btn-big{
	padding:12px 25px;
}
a{
	color:#00bdff;
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}
.btn-primary{
	-webkit-transition: background-color 0.3s, border-color 0.3s; /* Safari */
    transition: background-color 0.3s, border-color 0.3s;
}
a:hover{
	text-decoration:none;
}
/**********/
/** MAIN **/
/**********/
.displayOnResp{
	display:none;
}
.container-fill{
	position:relative;
	min-height: 100%;
    height: 100%;
}
.background-overlay{
	left:0;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
}
.text{
	color:white;
	font-size:2em;
}
.uppercase{
	text-transform:uppercase;
}
.bold{
	font-weight:bold;
}
.asterisk{
	font-size:1em;
}
.space-top{
	margin-top:30px;
}
.space-bottom{
	margin-bottom:30px;
}
.center{
	text-align:center;
}
.black{
	color:#000;
}
.white{
	color:#fff;
}
.grey{
	color:dimgray;
}
.onBottom{
	position:absolute;
	bottom:30px;
}
.centerOnTop{
	position:absolute;
	top:30px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}
.centerOnBottom{
	position:absolute;
	bottom:30px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}
.subtitle{
	font-size: 1.5em;
}
.no-padding{
	padding-left:0;
	padding-right:0;
}
.no-padding-right{
	padding-right:0;
}
.no-padding-left{
	padding-left:0;
}
.padding-top{
	padding-top:30px;
}
.padding-bottom{
	padding-bottom:30px;
}
.no-margin{
	margin-left:0;
	margin-right:0;
}
.no-margin-top{
	margin-top:0;
}
.no-margin-bottom{
	margin-bottom:0;
}
.bgBlack{
	background-color:black;
}
.big-text{
    font-size: 3em;
    font-family: "CanalBoldRomain", sans-serif;
    font-weight: bold;
    line-height: 52px;
}
.large-text{
	font-size: 1.5em;
    font-family: "CanalBoldRomain", sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}
/*PROGRAMS*/
#logoMyCanal{
	text-align:center;
}
.nav-top{
	margin-top:20px;
	position:relative;
}
.signin-container{
	position:absolute;
	top:0;
	right:0;
}
#programs{
	position:relative;
	width:100%;
	min-height: 100%;
	background-image:url(../img/bg1.png);
	background-size:cover;
}
.programs-desc{
	position:absolute;
	bottom:30px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	font-family: 'Open Sans', sans-serif;
}
.resp-btn{
	display:none;
}
/*EXCLU*/
#exclu{
	margin:20px 0; 
	position:relative;
}
#exclu-slider-container{
	position:absolute;
	width:100%;	
}
.slider-title{
	margin:9px 0 3px 0;
	font-weight:600;
	font-size:1.5em;
	display:block;
}
.slick-arrow {
    background-color: rgba(255,255,255,0.6);
    z-index:1;
    width:85px;
    height:100px;
    top:38%
}
.slick-prev{
	left:0;
}
.slick-next{
	right:0;
}
.slick-prev:before{
    content: "<";
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 70px;
    opacity: 1;
}
.slick-next:before{
    content: ">";
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 70px;
    opacity: 1;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
	background-color: rgba(255,255,255,0.6);
}
.slick-slide img, .slick-slide .slider-text{
	margin:0 auto;
	width:325px;
	height:auto;
	text-align:left;
}

/*FUNCTIONNALITIES*/
#functionalities{
	position:relative;
}
#functionalities .video-background{
	background-color:black;
	position:relative;
	width:100%;
	height:auto;
	z-index:0;
}
#functionalities .funct-title, #functionalities .funct-button{
	position:absolute;
	z-index:2;
	width:100%;	
}
#functionalities .funct-title{
	top:0;
}
#functionalities .funct-button{
	bottom:0;
}
#functionalities .video-overlay{
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}
/*CUSTOMPOSTER*/
#customPoster{
	position:relative;
	width:100%;
	min-height: 100%;
}
#customPoster .full-row{
	display:flex;
	width:100%;
	height: 100%;
	margin:0;
}
#generator{
	min-height:550px;
}
#generator .left-indent{
	padding-left:50px;
}
.custom-left{
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	background-color:black;
}
.custom-right{
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	background-color:white;
}
#customPoster .centerOnTop{
	top:0;
}
#customPoster .customRow{
	max-width:100%;
}
/* #customPoster h1){ */
/* 	background: rgba(255,255,255,1); */
/* 	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); */
/* 	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); */
/* 	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); */
/* 	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); */
/* 	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); */
/* 	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 ); */
/* 	-webkit-background-clip: text; */
/* 	-webkit-text-fill-color: transparent; */
/* 	position:relative; */
/* 	z-index:2; */
/* } */
#customPoster .examples-main{
	position:relative;
	width:100%;
}
#customPoster .examples-main.images .examples-step{
	position:absolute;
	max-width:70%;
	height:auto;
	left:0;
	right:0;
	margin:0 auto;
}
#customPoster .start-generator-container{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
}
#customPoster .custom-right{
	position:relative;
}
#customPoster .generator-desc{
	color:white;
	font-size: 1.7em;
    font-style: italic;
}
#customPoster .words, #customPoster .symbols{
	color:white;
	font-size:2em;
	font-family:"CanalBoldRomain", sans-serif;
	text-transform:uppercase;
}
#customPoster .examples-main.words div{
	height:2.5em;
}
#customPoster .symbols{
	position:absolute;
}
#customPoster .symbols p:nth-child(1){
	padding-top:3.5em;
}
#customPoster .symbols p:nth-child(2), #customPoster .symbols p:nth-child(3){
	padding-top:2em;
}
#customPoster .word{
	padding-top:1em;
}

#generator .symbols p:nth-child(1){
	padding-top:3.2em;
}
#generator .symbols p:nth-child(2){
	padding-top:1.7em;
}
#finalUserShare{
	padding-top:10px;
}
#customPoster .word .diamond{
    background-image: url(../img/diamond.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display:inline-block;
    height: 2.5em;
    line-height: 2.5em;
    padding-right: 30px;
}
#customPoster .generator-step.word{
	cursor:pointer;
	color:#757575;
}
#customPoster .generator-step.word input{
	background-color:transparent;
	border:none;
	color:white;
}
#customPoster .generator-step.word input:focus{
	outline:none;
}

#customPoster .generator-input{
	position:relative;
}
#customPoster .generator-input input{
	position:absolute;
	left:0;
	line-height:2.5em;
	z-index:1;
	max-width: 100%;
}
#customPoster .generator-input .copyfrominput{
	text-transform:none;
	color:transparent;
	position:absolute;
	width:auto!important;
	min-width:2.5em;
	height:2.5em;
	z-index:0;
}
#customPoster .generator-backgrounds-list, 
#customPoster .generator-genres-list, 
#customPoster .generator-characters-list{
	max-height:340px;
	overflow:scroll;
	overflow-x:hidden;
}
#customPoster .generator-backgrounds-list, 
#customPoster .generator-genres-list, 
#customPoster .generator-characters-list{
	scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}
#customPoster .generator-backgrounds-list::-webkit-scrollbar,
#customPoster .generator-genres-list::-webkit-scrollbar, 
#customPoster .generator-characters-list::-webkit-scrollbar{
    width: 12px;
}
 
/* Track */
#customPoster .generator-backgrounds-list::-webkit-scrollbar-track, 
#customPoster .generator-genres-list::-webkit-scrollbar-track, 
#customPoster .generator-characters-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#customPoster .generator-backgrounds-list::-webkit-scrollbar-thumb, 
#customPoster .generator-genres-list::-webkit-scrollbar-thumb, 
#customPoster .generator-characters-list::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#customPoster .generator-backgrounds-list p:hover, 
#customPoster .generator-genres-list p:hover, 
#customPoster .generator-characters-list p:hover{
	color:white;
}

#customPoster .generator-backgrounds-list p, 
#customPoster .generator-genres-list p, 
#customPoster .generator-characters-list p{
	margin:0;
	padding-bottom:10px;
}

#customPoster .myGeneratedPoster{
    background: url(../img/imageloader.gif) no-repeat;
    background-position: center 120px;
    width: 100%;
    min-height: 300px;
    height: auto;
    margin-top: 25px;
}
#customPoster .generator-step.word .diamond:not(.copyfrominput){
	color:white;
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}
#customPoster .generator-step.word .diamond:not(.copyfrominput):hover{
	color:#929090;
}
#customPoster .generator-step.word input::placeholder{
	text-transform:uppercase;
	color:white;
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}
#customPoster .generator-step.word input:hover::placeholder{
	color:#929090;
}
#customPoster .generator-step.word input:focus::placeholder{
	color:transparent;
}
#customPoster .generator-step.word.isOpen .diamond:after {
    content: "x";
    position: absolute;
    right: 10px;
}
#customPoster .generator-container{
	height:420px;
}
.shareItBlock{
	display:none;
}
#customPoster #img-container.shareIt:hover .shareItBlock,
#customPoster #img-container.shareIt:focus .shareItBlock{
	display: block;
    position: absolute;
    top: 25px;
    width: calc(100% - 30px);
    height: 413px;
    background-color:rgba(0,0,0,0.9);
}
#customPoster .start-generator-container{
/* 	padding-top:30px; */
}
body.isScrollingUp #customPoster .examples-main.words[data-serie="borgia"],
body.isScrollingUp #customPoster .examples-main.words[data-serie="revenants"]{
	display:none;
}
body.isScrollingUp #customPoster .examples-main.images[data-serie="guyane"] .examples-step[data-step="3"]{
	display:block!important;
}

/*PRICING*/
.pricing-section{
	display:flex;
	margin-top: 60px;
}
.pricing-main-container{
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.pricing-container{
	height:100%;
	box-shadow:none;
	-webkit-transition: box-shadow 0.3s; /* Safari */
    transition: box-shadow 0.3s;
    border: 1px solid #00BDFF;
}
.pricing-container.active{
	-moz-box-shadow: 0px 0px 20px 1px #656565;
	-webkit-box-shadow: 0px 0px 20px 1px #656565;
	-o-box-shadow: 0px 0px 20px 1px #656565;
	box-shadow: 0px 0px 20px 1px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=20);
}
.pricing-container .pricing-title{
	min-height:80px;
}
.pricing-container .pricing-title h2{
	font-family:"CanalBoldRomain", sans-serif;
}
.no-subtitle{
    line-height: 50px;
}
.pricing-amount-container{
    margin: 0 auto;
    color: #00BDFF;
}
.pricing-amount-up{
	font-family:"CanalBoldRomain", sans-serif;
	text-transform:uppercase;
}
.pricing-amount-down{
	text-align: center;
	font-size: 1.2em;
}
.price-left{
	padding-right:0;
    text-align: right;
    font-size: 4em;
    line-height: 1em;
}
.price-right{
	padding-left:0;
	font-size:1.4em;	
}
.subscription{
	font-family:"CanalLightRomain", sans-serif;
}
.pricing-desc{
	font-size: 1.3em;
}

/* COPYRIGHTS */
#copyrights{
    border-top: 1px solid #ededed;
}
#copyrights p{
	padding: 20px;
}

/* FOOTER */
footer{
	font-size:1.3em;
	padding:20px;
	background-color:#22252A;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a{
	background-color: #3B3B3B;   	
	-webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;
}


.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoDailymotion:hover {
	background-color:#0066DB;
}
.social-network a.icoYoutube:hover {
	background-color:#BD3518;
}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i, .social-network a.icoDailymotion:hover i {
	color:#fff;
}
/* a.socialIcon:hover, .socialHoverClass { */
/* 	color:#44BCDD; */
/* } */

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 35px;
	height: 35px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:35px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* BEGIN LOADER */
.loader-spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #eee;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* END LOADER */

/* RESPONSIVE */
@media (max-width: 768px) {
	.paddingRightOnResp{
		padding-right:15px;
	}
	.rmOnResp{
		display:none;
	}
	.displayOnResp{
		display:block;
	}
	.btn{
		white-space: normal;
	}
	.programs-desc{
		position:initial;
	}
	.programs-desc, .nav-top{
		position:initial;
	}
	.pricing-section, #customPoster .full-row{
		display:block;
	}
	h1{
		font-size:2em;
	}
	h1.smaller{
		font-size:1.7em;
	}
	.signin-container{
		display:none;
	}
	.resp-btn{
		display:inline-block;
	}
	.resp-full{
		width:100%;
	}
	.pricing-main-container{
		padding-top:25px;
		padding-bottom:25px;
	}
	.pricing-desc p{
		padding:25px;
	}
	.footer-col:not(first){
		padding-top:15px;
	}
	#customPoster{
		background:none;
	}
	#customPoster h1:not(.white){
		color:black
	}
	#customPoster .background-overlay{
		display:none;
	}
	#functionalities{
	position:relative;
	}
	#functionalities h1:not(.white){
		color: black;
	}
	#functionalities .funct-title, #functionalities .funct-button{
		position:relative;
		z-index:2;
	}
	#customPoster .customRow{
		max-width:auto;
		margin:0;
	}
	#customPoster .word {
	    padding-top: 0.8em;
	}
	#customPoster .full-row{
		display:block;
	}
	#customPoster .custom-left{
		padding-top:0!important;
	    min-height: 350px;
	}
	#customPoster .custom-right {
	    min-height: 400px;
	}
	#generator .left-indent {
	    padding-left: 0px;
	}
	#customPoster .words, #customPoster .symbols {
	    font-size: 1.2em;
	}
	#generator .generator-main.symbols p:nth-child(2) {
	    padding-top: 1.2em;
	}
	#customPoster .generator-main.symbols p:nth-child(3) {
	    padding-top: 1em;
	}
	#customPoster .myGeneratedPoster {
	    min-height: inherit;
	}	
	#customPoster .generator-container{
		height:260px;
	}
	#customPoster .generator-backgrounds-list, 
	#customPoster .generator-genres-list, 
	#customPoster .generator-characters-list{
		max-height:200px;
	}
	#customPoster #img-container.shareIt:hover .shareItBlock{
		height:200px;
	}
	#customPoster #img-container.shareIt:hover .shareItBlock p{
		padding-top:0!important;
		font-size: 1.2em;
	}
	#functionalities .video-overlay:not(.playing){
		background-image:url(../img/play.png);
		background-position:center center;
		background-repeat:no-repeat;
	}
}
