@font-face {
    font-family: CanalBoldRomain;
    src: url("../fonts/CanalBoldRomain.otf") format("opentype");
}
@font-face {
    font-family: CanalLightRomain;
    src: url("../fonts/CanalLightRomain.otf") format("opentype");
}

html,body {
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

/** BOOTSTRAP OVER **/
.btn-primary{
	background-color:#00bdff;
	border-color:#00bdff;
	font-size:20px;
}
h1{
	color:#ffffff;
	font-size:3em;
	font-family:"CanalBoldRomain", sans-serif;
	font-weight:bold;
}
.btn-big{
	padding:12px 25px;
}
a{
	color:#00bdff;
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}
.btn-primary{
	-webkit-transition: background-color 0.3s, border-color 0.3s; /* Safari */
    transition: background-color 0.3s, border-color 0.3s;
}
a:hover{
	text-decoration:none;
}
/**********/
/** MAIN **/
/**********/
.container-fill{
	position:relative;
	min-height: 100%;
    height: 100%;
}
.background-overlay{
	left:0;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
}
.text{
	color:white;
	font-size:2em;
}
.uppercase{
	text-transform:uppercase;
}
.bold{
	font-weight:bold;
}
.asterisk{
	font-size:1em;
}
.space-top{
	margin-top:30px;
}
.space-bottom{
	margin-bottom:30px;
}
.center{
	text-align:center;
}
.black{
	color:#000;
}
.white{
	color:#fff;
}
.grey{
	color:dimgray;
}
.onBottom{
	position:absolute;
	bottom:30px;
}
.centerOnBottom{
	position:absolute;
	bottom:30px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}
.subtitle{
	font-size: 1.5em;
}
.no-padding{
	padding-left:0;
	padding-right:0;
}
/*PROGRAMS*/
#logoMyCanal{
	text-align:center;
}
.nav-top{
	margin-top:20px;
	position:relative;
}
.signin-container{
	position:absolute;
	top:0;
	right:0;
}
#programs{
	position:relative;
	width:100%;
	min-height: 100%;
	background-image:url(../img/bg1.png);
	background-size:cover;
}
.programs-desc{
	position:absolute;
	bottom:30px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	font-family: 'Open Sans', sans-serif;
}
.resp-btn{
	display:none;
}
/*EXCLU*/
#exclu{
	position:relative;
}
#exclu-slider-container{
	position:absolute;
	width:100%;	
}
.slider-title{
	font-weight:600;
	font-size:1.5em;
	display:block;
}
.slick-arrow {
    background-color: rgba(255,255,255,0.6);
    z-index:1;
    width:85px;
    height:100px;
    top:38%
}
.slick-prev{
	left:0;
}
.slick-next{
	right:0;
}
.slick-prev:before{
    content: "<";
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 70px;
    opacity: 1;
}
.slick-next:before{
    content: ">";
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 70px;
    opacity: 1;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
	background-color: rgba(255,255,255,0.6);
}
.slick-slide img, .slick-slide .slider-text{
	margin:0 auto;
	width:325px;
	height:auto;
	text-align:left;
}

/*FUNCTIONNALITIES*/
#functionalities{
	position:relative;
	width:100%;
	min-height: 100%;
	background-image:url(../img/bg2.png);
	background-size:cover;
}

/*CUSTOMPOSTER*/
#customPoster{
	position:relative;
	width:100%;
	min-height: 100%;
	background-image:url(../img/bg2.png);
	background-size:cover;
}

/*PRICING*/
.pricing-section{
	display:flex;
	margin-top: 60px;
}
.pricing-main-container{
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.pricing-container{
	height:100%;
	box-shadow:none;
	-webkit-transition: box-shadow 0.3s; /* Safari */
    transition: box-shadow 0.3s;
    border: 1px solid #00BDFF;
}
.pricing-container.active{
	-moz-box-shadow: 0px 0px 20px 1px #656565;
	-webkit-box-shadow: 0px 0px 20px 1px #656565;
	-o-box-shadow: 0px 0px 20px 1px #656565;
	box-shadow: 0px 0px 20px 1px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=20);
}
.pricing-container .pricing-title{
	min-height:80px;
}
.pricing-container .pricing-title h2{
	font-family:"CanalBoldRomain", sans-serif;
}
.no-subtitle{
    line-height: 50px;
}
.pricing-amount-container{
    margin: 0 auto;
    color: #00BDFF;
}
.pricing-amount-up{
	font-family:"CanalBoldRomain", sans-serif;
	text-transform:uppercase;
}
.pricing-amount-down{
	text-align: center;
	font-size: 1.2em;
}
.price-left{
	padding-right:0;
    text-align: right;
    font-size: 4em;
    line-height: 1em;
}
.price-right{
	padding-left:0;
	font-size:1.4em;	
}
.subscription{
	font-family:"CanalLightRomain", sans-serif;
}
.pricing-desc{
	font-size: 1.3em;
}

/* COPYRIGHTS */
#copyrights{
    border-top: 1px solid #ededed;
}
#copyrights p{
	padding: 20px;
}

/* FOOTER */
footer{
	font-size:1.3em;
	padding:20px;
	background-color:#22252A;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a{
	background-color: #3B3B3B;   	
	-webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;
}


.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoDailymotion:hover {
	background-color:#0066DB;
}
.social-network a.icoYoutube:hover {
	background-color:#BD3518;
}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i, .social-network a.icoDailymotion:hover i {
	color:#fff;
}
/* a.socialIcon:hover, .socialHoverClass { */
/* 	color:#44BCDD; */
/* } */

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 35px;
	height: 35px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:35px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* BEGIN LOADER */
.loader-spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #eee;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* END LOADER */

/* RESPONSIVE */
@media (max-width: 768px) {
	.programs-desc{
		position:initial;
	}
	.programs-desc, .nav-top{
		position:initial;
	}
	.pricing-section{
		display:block;
	}
	h1{
		font-size:2em;
	}
	.signin-container{
		display:none;
	}
	.resp-btn{
		display:inline-block;
	}
	.resp-full{
		width:100%;
	}
}
